<!-- <h3> Here is the comment on: <%#= @recipe.title %>, by: <%#=@comment.user.email %></h3> -->
<%= @comment.text %>
<!-- <#% if @comment.user_id == current_user.id %>
<%#= link_to "Edit your comment here", edit_recipe_comment_path %>
<%#= button_to "Delete your comment", recipe_comment_path(@comment), :method => "delete" %>
<%#end%> -->
