
<h2>Add a new ingredient to <%= @recipe.title %></h2>

<h3> Here are the current ingredients: </h3>
<% @recipe.recipe_ingredients.each do |r_i| %>
    <li><%=r_i.ingredient.name %></li>
<%end%>


<h3> Add Your Own: </h3>
<%= render 'form' %><br>


<hr>

<h3> And here are existing ingredients:</h3>
    <% Ingredient.all.each do |i| %>
        <li><%= i.name %></li>
    <%end%>
